@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=EB+Garamond:ital,wght@0,400;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
}

body {
    background: linear-gradient(70deg, #0d5e3a, #151b51);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

header {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    height: 45px;
    background: rgb(0, 0, 0);
    background: linear-gradient(152deg, rgba(27, 25, 61, 0.8) 1%, rgba(3, 53, 22, 0.7) 10%, rgba(6, 9, 64, 1) 43%, rgba(229, 225, 200, 0.57) 85%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header:hover {
    background-size: 150%;
    animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.h1 {
    display: flex;
    width: 80%;
    justify-content: left;
    align-items: center;
}

.H_right {
    width: fit-content;
}

.H_left {
    display: flex;
    width: 20%;
}

.slogan {
    position: absolute;
    position: fixed;
    width: 1000px;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255, 0.85);
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 5em;
    text-shadow: 2px 2px 3px #1d3b24;
    transform: translate3d(-50%, -50%, 0);
    z-index: -1;
}

#Container {
    width: 1400px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    background-color: rgba(250, 235, 215, 0.8);
}

#logo {
    width: 294px;
    height: 150px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.item1 {
    grid-column: 2;
    grid-row: span 2;
}

.item1 img {
    width: 255px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.item2 {
    text-align: center;
    grid-column-start: span 6;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 50px;
}

.item3 {
    width: 90%;
    text-align: center;
    grid-column: span 6;
}

.header__form-1 {
    height: 40px;
    width: 45%;
    border: 1px solid #74895c;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.h__form1-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    border-radius: 50px 0px 0px 50px;
    padding: 0 10px;
    color: #02280b;
}

.h__form1-input:hover::placeholder {
    color: #38b355c6;
}

.h__form1-button {
    background-color: #151b5100;
    border: none;
    outline: none;
    border-radius: 0px 50px 50px 0px;
    color: #1d3b24;
    width: 20%
}

.h__form1-button:hover {
    color: #b4ffc5c6;
}

.h__form1-button:focus {
    color: #38b355c6;
}

.header__form-2 {
    height: 40px;
    width: 35%;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #02280b;
}

.header__form-2 label:hover,
a:hover {
    text-shadow: 1px 1px 1px black, 0px 1px 4px rgb(218, 245, 179);
    color: #67c77ec6;
}

.h__item3-ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.h_item3__li {
    list-style-type: none;
}

.h_item3__li:hover {
    opacity: 0.7;
}

.header1 {
    background-color: rgb(229, 224, 202, 0.95);
    width: 1400px;
    height: 120px;
    display: grid;
    grid-template-columns: 20px auto auto auto auto auto auto 20px;
    grid-template-rows: 60px 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
}

.h_item3__li_dropdown {
    position: relative;
    list-style-type: none;
    height: 50px;
}

.h_item3__li_dropdown:hover .h_item3__li_dropdown_menu {
    display: flex;
}
.h_item3__li_dropdown_menu {
    display: none;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    width: 110px;
    height: 240px;
    top: 50px;
    right: 200px;
    background-color: #e5e0caf8;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0px 20px;
}
.h_item3__li_dropdown_menu li{
    list-style-type: none;
    text-align: left;
    width: 120px;
}
.h_item3__li_dropdown_menu a {
    color: #1d3b24;
}
.submenu{
    display: none;
    position: absolute;
    text-align: left;
    flex-direction: row;
    justify-content: baseline;
    width: 600px;
    height: 240px;
    top:0px;
    left:125px;
    padding: 10px;
    border-left: 2px solid rgba(0, 0, 0, 0.242);
    background-color: #e5e0ca;
    border-radius: 0px 0px 20px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    
}
.submenu a{
    color: #1d3b24;
    font-size: 20px;
    text-align: left;
    width: fit-content;
}
.submenu h3{
    padding: 5px;
}
.submenu li{
    list-style-type:georgian;
    padding: 1px;
}
.h_item3__li_dropdown_menu li:hover>div.submenu{
    display: flex;
}

