#myCarousel,
.carousel-inner {
  height: 500px;
  width: 1000px;
}
#Container {
  width: 1400px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 235, 215, 0.8);
}
.product_tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 5px;
  position: relative;
  width: 250px;
  height: 438px;
  left: 0px;
  top: 0px;

  background: #4f5397;
  border-radius: 20px;
}
.product_img {
  width: 230px;
  height: 269px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.product_tag_New {
  position: absolute;
  height: 34px;
  left: 70.46%;
  right: -3.15%;
  top: calc(50% - 34px / 2 - 155px);
  color: white;
  font-size: 25px;
  text-align: center;
  background: #ff0000;
}
.product_name{
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #F5EEC2;

}
.product_brand{
        width: 230px;
        height: 24px;font-family: 'Inter';font-style: italic;font-weight: 700;font-size: 25px;line-height: 24px;letter-spacing: 0.01em;color: #72A24E;text-align: left; margin: 0px;}
.product_price{
        width: 230px;
font-family: 'JejuGothic';
font-weight: 400;
font-size: 35px;
line-height: 38px;
text-align: right;
letter-spacing: 0.01em;
color: #B8F900;

}
.MultiCarousel { float: left; overflow: hidden; padding:0px 30px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner {width: 120%;display:flex;transition: 1s ease all;flex-wrap: nowrap;align-content: center;justify-content: flex-start;}
        .MultiCarousel .MultiCarousel-inner .item { float: left;width: 250px;margin:10px;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute;font-family: 'Inter';
      font-weight: 400; border-radius:20%;top:calc(50% - 30px); }
    .MultiCarousel .leftLst { left: 0px; }
    .MultiCarousel .rightLst { right:0px; }
    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; }